<!doctype html>
<html lang="en-US">
    <head>
        <title></title>
        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Ramzi Abou Chahine"/>
        <meta name="description" content=""/>

        <link rel="icon" href="/static/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="/sty/app.css"/>

        <link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
        <script 
            src="https://unpkg.com/htmx.org@1.9.5" 
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" 
            crossorigin="anonymous"
        ></script>
    </head>

    <body class="h-screen w-screen">
        <div id="page-content"
            class="w-full h-full"
        >
            <div id="main-content">
            </div>
        </div>
    </body>

</html>
